@model IEnumerable<FunWithSignalR.Domain.Model.BlogPost>
@{
    ViewBag.Title = "SignalR Fun";
}
@section header
{
    <h1>@ViewBag.Title</h1>
    <div data-role="button" data-icon="plus" class="ui-btn-right">
        @Html.ActionLink("New", "Create")
    </div>
}
<div data-role="content">
    <ul data-role="listview">
        <li data-role="list-divider">Current Posts</li>
        @foreach (var item in Model)
        {
            <li><a href="~/BlogPost/Details/@item.Id">
                <h3>
                    @item.Title</h3>
                <p>
                    @{
            string val = (item.Post != null) ? 
                                item.Post.Substring(0, item.Post.Length < 100 ? 
                                                        item.Post.Length: 
                                                            100) : 
                         item.Post;
                        @val;
                    }
                </p>
            </a></li>
        }
    </ul>
</div>
